<h1>Editing subtask</h1>

<%= render "form", subtask: @subtask %>

<br>

<div>
  <%= link_to "Show this subtask", admin_subtask_path(@subtask) %> |
  <%= link_to "Back to subtasks", admin_subtasks_path %>
</div>
